[submodule "backend"]
	path = backend
	url = https://github.com/Iquana-tool/backend.git
	branch = main
[submodule "frontend-react"]
	path = frontend-react
	url = https://github.com/Iquana-tool/frontend-react.git
	branch = migration/Version2
[submodule "instance-discovery-service"]
	path = instance-discovery-service
	url = https://github.com/Iquana-tool/instance-discovery-service.git
[submodule "prompted-seg-service"]
	path = prompted-seg-service
	url = https://github.com/Iquana-tool/prompted-seg-service.git
[submodule "semantic-seg-service"]
	path = semantic-seg-service
	url = https://github.com/Iquana-tool/semantic-seg-service.git
