[submodule "coral-back"]
	path = coral-back
	url = https://github.com/Iquana-tool/backend.git
	branch = improvement/review_status
[submodule "coral-front"]
	path = coral-front
	url = https://github.com/Iquana-tool/frontend-react.git
	branch = migration/Version2
[submodule "coral-completion-seg"]
	path = coral-completion-seg
	url = https://github.com/Iquana-tool/instance-discovery-service.git
[submodule "coral-prompted-seg"]
	path = coral-prompted-seg
	url = https://github.com/Iquana-tool/prompted-seg-service.git
[submodule "coral-semantic-seg"]
	path = coral-semantic-seg
	url = https://github.com/Iquana-tool/semantic-seg-service.git
